@tailwind base;
@tailwind components;
@tailwind utilities;

@font-face {
  font-family: 'Star Jedi';
  font-style: normal;
  font-weight: 400;
  src: local('Star Jedi'), local('StarJedi-Regular'),
      url(./../star-jedi.woff) format('woff'),
      url(./../star-jedi.ttf) format('truetype');
}

html {
  box-sizing: border-box;
  font-size: 1rem;
}

*,
*:before,
*:after {
  box-sizing: inherit;
}

body {
  margin: 0;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  font-size: var(--fz);
  background-color: var(--theme-body-bg);
  color: var(--theme-body-txt);
}
